.contact-wrapper{
    background-image: linear-gradient(rgba(105,171,215,0.8),rgba(227, 122, 244, 0.8)),url("https://images.pexels.com/photos/1416736/pexels-photo-1416736.jpeg?cs=srgb&dl=pexels-jonas-mohamadi-1416736.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
    height:100vh;
    display: flex;
    justify-content: center;
}
.contact-container{
    border: 2px solid yellow;
    text-align: center;
    height: 300px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.contact-h2tag{
    color: brown;
    font-size: 50px;
    font-weight: 500;

}
.contact-small-text{
    padding: 10px;
}